.price-details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.body {
    display: flex;
    flex-direction: row;
}

.detail-container {
    flex-grow: 1;
}