name: Bump Patch Version

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  bump-patch:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # serve per creare commit / tag

      # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      # Incrementa la patch version
      - name: Bump patch version
        run: |
          cd ./my-financial-dashboard
          npm install
          npm version patch -m "chore: bump patch to %s"

      # Push commit e tag
      - name: Push changes
        run: |
          git add package.json
          git commit -m "build: update to version %s"
          git push origin/develop